@media (max-width: 958px) {
  #header {
    min-height: 48vh;
    width: 100%;
    flex-direction: column;
  }
  nav ul li a {
    padding: 2px;
  }
  .details {
    margin: auto;
  }

  form {
    margin: auto;
  }
  #navbar ul {
    flex-direction: column;
  }
  #header img {
    display: block;
    margin: auto;
  }
  .section-img {
    width: 88vw;
  }
  #my {
    width: 50vw;
    margin: 25px auto;
  }
}
